body {
    margin: auto;
    width: 1280px;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;

    font-family: 'Montserrat';
    font-style: normal;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;  
    margin-left: 50px;

}



nav a {

    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}

.photo {
    width: 100%;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;

    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.div-btn {
    text-align: center;
    margin-top: 50px;

}

.btn {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  
    border-radius: 4px;
    border-color: #FF0000;
    font-size: 12px;
    letter-spacing: 1.8px;
    padding: 18px 42px;
    background: #FF0000;
    text-transform: uppercase;
    color: #FFFFFF;

}

footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    font-weight: bold;
    text-align: right;
    padding-right: 71px;

    margin-top:82px;
    margin-bottom: 29px;
    font-size: 16px;
    letter-spacing: 2.4px;
}